<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile: Deyvisson</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <header>
        <div>
            <h1>Olá, eu sou Deyvisson Rafael</h1>
        </div>
    </header>

    <main>

        <section>
            <div class="conteudo 1">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus, perferendis soluta, consequatur
                    numquam
                    illo inventore minus doloremque necessitatibus tempora dolores odit ut quos fuga reprehenderit
                    quisquam
                    dicta aliquid dolore corrupti?
                </p>
            </div>
        </section>

        <section>
            <div class="conteudo 2">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus reiciendis sunt repudiandae nobis
                    enim dolorem ipsam quis aliquam commodi voluptatem hic voluptas, alias labore, perferendis
                    necessitatibus asperiores eum. Repellendus, consectetur?Accusamus cum corrupti delectus eum
                    neque ipsam eligendi dolores ab! Recusandae blanditiis aperiam pariatur necessitatibus illo atque
                    alias,
                    sunt adipisci, fugit quibusdam ducimus inventore placeat ratione! Inventore suscipit magni
                    tempora!Dolores aut, cupiditate ab quibusdam similique commodi enim quas omnis sapiente
                    adipisci repudiandae consequatur obcaecati iste consequuntur facere temporibus rerum corporis ullam
                    a
                    dolore consectetur? Quisquam enim at cumque ad.</p>
            </div>
        </section>

        <section>
            <div class="conteudo 2">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus reiciendis sunt repudiandae nobis
                    enim dolorem ipsam quis aliquam commodi voluptatem hic voluptas, alias labore, perferendis
                    necessitatibus asperiores eum. Repellendus, consectetur?Accusamus cum corrupti delectus eum
                    neque ipsam eligendi dolores ab! Recusandae blanditiis aperiam pariatur necessitatibus illo atque
                    alias,
                    sunt adipisci, fugit quibusdam ducimus inventore placeat ratione! Inventore suscipit magni
                    tempora!Dolores aut, cupiditate ab quibusdam similique commodi enim quas omnis sapiente
                    adipisci repudiandae consequatur obcaecati iste consequuntur facere temporibus rerum corporis ullam
                    a
                    dolore consectetur? Quisquam enim at cumque ad.
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo nulla vel dicta totam deserunt sequi
                    voluptatibus ad iste velit odio reiciendis, quos maiores autem quod commodi rem dolores quasi
                    quibusdam!
                </p>
            </div>
        </section>

        <section>
            <h2>Contados</h2>
            <p>Email: deyvissonrafael018@gmail.com</p>
        </section>

    </main>

    <footer></footer>

</body>

<script src="../js/script.js"></script>

</html>